
:root{
  --primary-cl: #0F5132;
  --secondary-cl: #F8F9FA;
  --ascent-cl: #D4AF37;

  /**--primary-color--**/
  --navbar-bg: #0F5132;
  --hero-section-bg: #0F5132;
  --primary-btns-bg: #0F5132;
  --highlights-cl: #0F5132;
  --background-cl: #F8F9FA;
  --links-cl: #0F5132;
  --btn-cl: rgb(25, 129, 89);
  --btn-hover-cl: #0f492e;
  --btn-hover-cl-2:  #c4a236;
  --light-bg:  rgb(245, 241, 241);

  /**--secondary-color--**/
  --page-bg-cl: #F8F9FA;
  --card-bg-cl: #F8F9FA;
  --forms-bg-cl: #F8F9FA;


  /***---BOX-SHADOWS--***/
  --card-bsh: 2px 2px 6px rgba(61, 59, 59, 0.4), -2px -2px 6px rgba(61, 59, 59, 0.4);
  --card-bsh-2: 2px 2px 6px rgba(78, 76, 76, 0.4), -2px -2px 6px rgba(78, 76, 76, 0.4);

  /**---ascent-color--**/
  --icons-bg-cl: #D4AF37;
  --section-div-bg-cl: #D4AF37;
  --donation-page-emp-cl: #D4AF37;
  --cta-btn: #D4AF37;

  /**--TEXT-COLORS--**/
  --muted-text: rgb(93, 93, 109);
  --main-text: rgb(44, 42, 42);
  --hero-txt: #F8F9FA;
  --price-txt: #0F5132;

  /***--FEEDBACK-COLORS--***/
  --success-cl: #198754;
  --error-cl: #DC3545;
  --warning-cl: #FFC107;

  /***
  PADDING 
  ***/
  --section-padding: .2rem .3rem;

  /***
  PRODUCTS CARD BORDER
  ***/
  --products-card-borer: rgba(184, 180, 180, 0.548);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


/***---GLOBAL SCOPE---***/
body{
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  font-family: "inter" sans-serif;
  color: var(--text);
  overflow-y: auto;
  background: var(--background-cl);
}

/**
NAVBAR
***/
.navbar{
  width: 100%;
  max-width: 480px;
  height: 3.3rem;
  display: flex;
  position: fixed;
  background: var(--background-cl);
  top: 0;
  left: 0;
  right: 0;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-bottom: 1px solid rgb(231, 226, 226);
  box-shadow: 0 2px 6px rgba(185, 185, 185, 0.5);
  z-index: 10000;
}

.navbar .navbar-left{
display: flex;
align-items: center;
justify-content: start;
gap: .1rem;
position: relative;
}

.navbar-left p{
color:  rgb(38, 126, 77);
font-weight: 500;
font-size: 1.2rem;
margin-top: 1rem;
margin-right: .5rem;
}

.navbar-left img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/****--NAVBAR RIGHT--***/
.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
}

/**---AUTHENTICATION PAGE STYLES---***/

.auth-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 4rem;
}

.auth-card {
  background: #fff;
  width: 100%;
  max-width: 380px;
  padding: 30px 25px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
  border-top: 9px solid var(--btn-cl);
  border-bottom: 9px solid var(--btn-cl);
}

.logo {
  width: 70px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin: 10px 0 5px;
}

.subtitle {
  font-size: 14px;
  color: var(--muted-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 25px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 13px;
  display: block;
  margin-bottom: 6px;
  color: var(--muted-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  color: rgb(83, 83, 90);
}

.input-group input:focus {
  border-color: rgb(163, 162, 162);
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: var(--btn-cl);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: .9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
}

.switch-text {
  font-size: 14px;
  margin-top: 18px;
}

.switch-text {
  color: var(--muted-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.switch-text a {
  color: #0a7cff;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .8rem;
  font-weight: 600;
}






/**---SNACKBAR STYLES---***/
#snackbar {
  visibility: hidden;
  min-width: 250px;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 14px;
  top: 4rem;
  display: flex;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.3s, fadeout 0.3s 2.5s;
}

@keyframes fadein {
  from { top: 0; opacity: 0 }
  to { top: 4rem; opacity: 1 }
}

@keyframes fadeout {
  from { top: 4rem; opacity: 1 }
  to { top: 0; opacity: 0 }
}