:root{
  --primary-cl: #0F5132;
  --secondary-cl: #F8F9FA;
  --ascent-cl: #D4AF37;

  /**--primary-color--**/
  --navbar-bg: #0F5132;
  --hero-section-bg: #0F5132;
  --primary-btns-bg: #0F5132;
  --highlights-cl: #0F5132;
  --background-cl: #F8F9FA;
  --links-cl: #0F5132;
  --btn-bg-cl: #0F5132;
  --btn-hover-cl: #0f492e;
  --btn-hover-cl-2:  #c4a236;
  --light-bg:  rgb(245, 241, 241);

  /**--secondary-color--**/
  --page-bg-cl: #F8F9FA;
  --card-bg-cl: #F8F9FA;
  --forms-bg-cl: #F8F9FA;


  /***---BOX-SHADOWS--***/
  --card-bsh: 2px 2px 6px rgba(61, 59, 59, 0.4), -2px -2px 6px rgba(61, 59, 59, 0.4);
  --card-bsh-2: 2px 2px 6px rgba(78, 76, 76, 0.4), -2px -2px 6px rgba(78, 76, 76, 0.4);

  /**---ascent-color--**/
  --icons-bg-cl: #D4AF37;
  --section-div-bg-cl: #D4AF37;
  --donation-page-emp-cl: #D4AF37;
  --cta-btn: #D4AF37;

  /**--TEXT-COLORS--**/
  --main-txt: #23272b;
  --muted-txt: #3f4743;
  --hero-txt: #F8F9FA;
  --price-txt: #0F5132;

  /***--FEEDBACK-COLORS--***/
  --success-cl: #198754;
  --error-cl: #DC3545;
  --warning-cl: #FFC107;

  /***
  PADDING 
  ***/
  --section-padding: .2rem .3rem;

  /***
  PRODUCTS CARD BORDER
  ***/
  --products-card-borer: rgba(184, 180, 180, 0.548);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


/***---GLOBAL SCOPE---***/
body{
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  font-family: "inter" sans-serif;
  color: var(--text);
  overflow-y: auto;
  background: var(--background-cl);
}

/**
NAVBAR
***/
.navbar{
  width: 100%;
  max-width: 480px;
  height: 3rem;
  display: flex;
  position: fixed;
  background: var(--background-cl);
  top: 0;
  left: 0;
  right: 0;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-bottom: 1px solid rgb(231, 226, 226);
  box-shadow: 0 2px 6px rgba(185, 185, 185, 0.5);
  z-index: 10000;
}

.navbar .navbar-left{
display: flex;
align-items: center;
justify-content: start;
gap: .1rem;
position: relative;
}

.navbar-left p{
color:  rgb(38, 126, 77);
font-weight: 500;
font-size: 1rem;
margin-top: 1rem;
margin-right: .5rem;
}

.navbar-left img{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
}

/****--NAVBAR RIGHT--***/
.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
}

.nav-right .search{
  align-items: center;
  justify-content: center;
  display: flex;
  width: max-content;
  position: relative;
}

.nav-right .search img{
  position: absolute;
  right: 2rem;
  margin-top: .2rem;
  width: .9rem;
  height: .9rem;
  display: flex;
}

.nav-right #searchInput{
  border: 1px solid rgb(212, 205, 205);
  height: 1.7rem;
  padding: .2rem 1.4rem;
  border-radius: 1rem;
  background: var(--background-cl);
  margin-top: .3rem;
  width: 100%;
  max-width: 80%;
  color: var(--muted-txt);
}




.nav-right #searchInput::placeholder{
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-right img{
  width: 1.4rem;
  height: 1.2rem;
  cursor: pointer;
}

.nav-right a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  text-decoration: none;
  color: var(--main-txt);
  font-size: .8rem;
  transition: .3s ease;
}



.nav-right a img{
  width: 1.1rem;
  height: 1.1rem;
  margin-right: .8rem;
  margin-bottom: .4rem;
}

.cart-btn #cart-count{
margin-bottom: -.6rem;
margin-left: .4rem;
font-size: .8rem;
color: rgb(163, 107, 107);
}

.nav-right .menu-icon{
  align-items: center;
  display: flex;
  width: max-content;
  margin-right: -.8rem;
  position: relative;
  justify-items: end;
}

.menu-icon img{
  width: 1.8rem;
  height: 1.7rem;
  cursor: pointer;
}

/***
MAIN SHOP CONTAINER
****/
.main-shop-container{
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  height: max-content;
  border: 1px solid rgb(228, 222, 222);
  left: 0;
  right: 0;
  top: 3.3rem;
  position: relative;
  justify-self: center;
  padding: .4rem;
  margin-bottom: 2rem;
}

.main-shop-container .filter-navbar {
 width: 100%;
 max-width: 480px;
 height: 3.3rem;
 top: 3rem;
 left: 0;
 right: 0;
 margin:  0;
 justify-self: center;
 display: flex;
 justify-content: space-between;
 border: 1px solid rgb(224, 217, 217);
 position: fixed;
 align-content: center;
 align-items: center;
 padding: .1rem .5rem;
 background: var(--background-cl);
 z-index: 999;
}

/***
left filters
**/
.filter-navbar .filter-wrapper{
  width: 100%;
  max-width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

/***
filter-title-flex
****/
.filter-navbar .filter-title{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: start;
  position: relative;
  gap: .5rem
}

/***
filter-wrapper-column dropdown
****/
.select-dropdown {
 width: 13rem;;
  height: max-content;
  display: flex;
  align-items: start;
  padding: .5rem;
  border-top: 6px solid rgb(38, 148, 115);
  border-bottom: 6px solid rgb(38, 148, 115);
  border-right: 1px solid rgb(49, 143, 104);
  border-left: 1px solid rgb(49, 143, 104);
  border-radius: .2rem;;
  justify-content: start;
  flex-direction: column;
  gap: .3rem;
  background: rgb(255, 255, 255);
  color: rgb(124, 115, 115);
  margin-top: 2.6rem;
  position: absolute;
  z-index: 888;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.select-dropdown .optionCategory{
  border: 1px solid rgb(245, 239, 239);
  color: rgb(124, 115, 115);
  width: 100%;
  height: auto; 
  padding-left: .2rem;
  transition: .2s ease;
 }

 .optionCategory:hover{
  background: rgba(22, 122, 100, 0.801);
  cursor: pointer;
  border-radius: 3px;
  cursor: pointer;
  color: white;
 }


.filter-title small{
  font-size: .9rem;
  color: var(--main-txt);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filter-title .filter-categories{
  width: 100%;
  max-width: 55%;
  height: 1.4rem;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: .5rem;
  border: 1px solid rgb(132, 132, 143);
  background: rgba(225, 225, 233, 0.774);
  color: rgb(85, 78, 78);
  border-radius: 3px;
  cursor: pointer;
}

.filter-categories img{
  width: .7rem;
  height: .7rem;
}

/***
right filter
***/
.filter-navbar .filters {
  width: 50%;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: end;
  display: flex;
  position: relative;
  gap: .5rem
}

.filters small{
  font-size: .8rem;
  color: var(--main-txt)
}

.filters button{
  border: none;
  padding: .3rem;
  background: rgba(225, 225, 233, 0.774);
  color: rgb(83, 74, 74);
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgb(157, 160, 161);
}

/***
SHOT H2 TITLE
****/
.main-shop-container .shop-page-title {
  width: 100%;
  max-width: 99%;
  justify-self: center;
  align-items: center;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  line-height: 1.7;
  align-items: center;
  justify-content: center;
  position: relative;;
  margin-top: 3rem;
  text-align: center;
}

.shop-page-title .shop-title-top{
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  justify-content: center;
  gap: .3rem;
}


.shop-page-title h1{
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(12, 44, 32);
}

.shop-title-top .moonStar{
  border: none;
  width: 1.2rem;
  height: 1.2rem;
}


.shop-page-title .shop-title-top img{
 width: 3.2rem;
 height: auto;
  align-self: center;
  border-radius: 50%;;
}

.shop-page-title small {
  font-size: .8rem;
  color: var(--muted-txt);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shop-page-title strong {
  color: rgb(158, 158, 158);
}



/****
SECTION PRODUCTS
*****/
.main-shop-container .grid-products-container{
width: 100%;
height: max-content;
display: flex;
border: 1px solid rgb(228, 222, 222);
margin-top: .2rem;
background: var(--background-cl);
position: relative;
flex-direction: column;
gap: .6rem;
justify-self: center;
padding: .4rem 0;
justify-content: center;
align-items: center;
}

/****
GRID CARD CONTAINER
****/
.grid-products-container .featured-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 98%;
  height: max-content;
  position: relative;
  align-items: center;
  justify-self: center;
  justify-content: center;
}


/***
product card
***/

.featured-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: .1rem;
  height: 22rem;
  border: 1px solid var(--products-card-borer);
  border-radius: .8rem;
}

.featured-card .featured-card-top{
width: 100%;
height: 15rem;
display: flex;
align-items: center;
justify-content: center;
padding: .5rem;
}


.featured-card-top .img-container{
  width: 99%;
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(187, 179, 179, 0.808);
  border-radius: .5rem;
  cursor: pointer;
}

.img-container small{
  margin-top: -12rem;
  margin-left: 7.5rem;
  margin-bottom: .2rem;
  z-index: 9;
  color: rgba(231, 16, 27, 0.918);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .2rem;
  font-size: .9rem;
  font-weight: 900;
  display: none;
  width: 4rem;
  height: 1.3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}


.img-container img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: .5rem;
  position: absolute;
}



.featured-card .featured-card-btom{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 6rem;
  position: relative;
  gap: .1rem;
}

/**
flex top btom
***/
.featured-card-btom .btom-top{
  width: 100%;
  height: 60%;
  display: flex;
  gap: .2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }




 .btom-top .pdt-badge{
  width: 100%;
  height: 30%;
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
  justify-content: start;
  padding-left:  .5rem;
  padding-bottom: .3rem;
 }

 .pdt-badge .badge-left{
  width: 55;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: start;
  position: relative;
  padding: .1rem;
  border-radius: 2px;
  text-shadow: 0 2px 6px rgba(86, 126, 117, 0.2);
  background: linear-gradient(185deg,rgb(255, 217, 0), rgb(18, 158, 111));
 }

 .btom-top .pdt-badge small{
  font-size: .55rem;
  color: var(--main-txt);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
 }




 .pdt-badge .badge-right{
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
 }

 .badge-right #ratingValue {
  color: rgb(120, 127, 129);
  font-size: .7rem;
  margin-left: .2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
 }

 .badge-right img{
  width: 1rem;
  height: .8rem;
 }

 .badge-right .icon-star {
  width: 14px;
  height: 14px;
  fill: #ccc;
  transition: fill .2s ease;
  cursor: pointer;
 }

 .badge-right .icon-star.active{
  fill: #D4AF37; /* Islamic gold */
 }

 .ratingValue {
  color: #555;
  font-size: 12px;
  margin-left: .2rem;
 }





 .btom-top .pdt-title{
  width: 100%;
  max-width: 99%;
  text-align: start;
  height: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;;
  align-items: center;
  line-height: 1.2;
  padding: 0 .2rem;
  padding-top: .2rem;
  justify-content: center;
  background: rgba(234, 238, 238, 0.459);
  border-right: 3px solid rgba(185, 188, 190, 0.267);
  border-left: 3px solid rgba(185, 188, 190, 0.267);
 }

 .pdt-title p{
  font-size: .8rem;
  color: var(--muted-txt);
  font-weight: 600;
 }

/**
flex btom btom
***/
.featured-card-btom .btom-bottom{
  display: flex;
  width: 100%;
  height: 40%;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: .1rem;
}


/***
bottom left div
***/
.btom-bottom .btom-bottom-left{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  justify-content: center;
}

.btom-bottom-left .bottom-left-top-star{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .8rem;
}

.bottom-left-top-star .old-price {
  font-size: .74rem;
  text-decoration: line-through;
  color: rgba(129, 74, 29, 0.863);
}


.btom-bottom-left .bottom-left-bottom-price{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .1rem;

}


.bottom-left-bottom-price .pdt-price{
  font-size: .9rem;
  color: rgb(83, 83, 99);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}




.btom-bottom .btom-bottom-right{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btom-bottom-right .buy-btn{
  width: 90%;
  height: 1.8rem;
  border: none;
  background: rgb(25, 129, 89);
  color: rgb(238, 232, 232);
  font-size: .9rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(77, 76, 76, 0.2);
  transition: .3s ease;
}

.btom-bottom-right .buy-btn:hover{
  background: rgb(18, 158, 111);
  font-size: .89rem;
  box-shadow: none;
}





















/* FOOTER */
.footer {
  display: flex;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #faf9f9;
  color: #352e2e;
  box-shadow: 2px 6px 0 rgba(78, 76, 76, 0.4);
  text-align: center;
  padding: 12px 0;
}

.footer-content{
  display: flex;
  flex-direction: column;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
  border-top: 1px solid rgb(243, 237, 237);
}
