:root{
  --primary-cl: #0F5132;
  --secondary-cl: #F8F9FA;
  --ascent-cl: #D4AF37;

  /**--primary-color--**/
  --navbar-bg: #0F5132;
  --hero-section-bg: #0F5132;
  --primary-btns-bg: #0F5132;
  --highlights-cl: #0F5132;
  --background-cl: #F8F9FA;
  --links-cl: #0F5132;
  --btn-bg-cl: #0F5132;
  --btn-cl: rgb(25, 129, 89);
  --btn-hover-cl: #0f492e;
  --btn-hover-cl-2:  #c4a236;
  --light-bg:  rgb(245, 241, 241);

  /**--secondary-color--**/
  --page-bg-cl: #F8F9FA;
  --card-bg-cl: #F8F9FA;
  --forms-bg-cl: #F8F9FA;


  /***---BOX-SHADOWS--***/
  --card-bsh: 2px 2px 6px rgba(61, 59, 59, 0.4), -2px -2px 6px rgba(61, 59, 59, 0.4);
  --card-bsh-2: 2px 2px 6px rgba(78, 76, 76, 0.4), -2px -2px 6px rgba(78, 76, 76, 0.4);

  /**---ascent-color--**/
  --icons-bg-cl: #D4AF37;
  --section-div-bg-cl: #D4AF37;
  --donation-page-emp-cl: #D4AF37;
  --cta-btn: #D4AF37;

  /**--TEXT-COLORS--**/
  --main-txt: #23272b;
  --muted-txt: #3f4743;
  --hero-txt: #F8F9FA;
  --price-txt: #0F5132;

  /***--FEEDBACK-COLORS--***/
  --success-cl: #198754;
  --error-cl: #DC3545;
  --warning-cl: #FFC107;

  /***
  PADDING 
  ***/
  --section-padding: .2rem .3rem;

  /***
  PRODUCTS CARD BORDER
  ***/
  --products-card-borer: rgba(184, 180, 180, 0.548);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


/***---GLOBAL SCOPE---***/
body{
  width: 100%;
  height: 100vh;
  line-height: 1.6;
  font-family: "inter" sans-serif;
  color: var(--text);
  overflow-y: auto;
  background: var(--background-cl);
}

/**
NAVBAR
***/
.navbar{
  width: 100%;
  max-width: 480px;
  height: 3.5rem;
  display: flex;
  position: fixed;
  background: var(--background-cl);
  top: 0;
  left: 0;
  right: 0;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  padding: .2rem 1rem;
  border-bottom: 1px solid rgb(231, 226, 226);
  box-shadow: 0 2px 6px rgba(185, 185, 185, 0.5);
  z-index: 10000;
}

.navbar .navbar-left{
display: flex;
align-items: center;
justify-content: start;
gap: .1rem;
position: relative;
}

.navbar-left p{
color:  rgb(38, 126, 77);
font-weight: 500;
font-size: 1rem;
margin-top: 1rem;
margin-right: .5rem;
}

.navbar-left img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/****--NAVBAR RIGHT--***/
.nav-right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: max-content;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
}

.nav-right .search{
  align-items: center;
  justify-content: center;
  display: flex;
  width: max-content;
  position: relative;
}

.nav-right .search img{
  position: absolute;
  right: 2rem;
  margin-top: .2rem;
  width: .9rem;
  height: .9rem;
  display: flex;
}

.nav-right #searchInput{
  border: 1px solid rgb(212, 205, 205);
  height: 1.7rem;
  padding: .2rem 1.4rem;
  border-radius: 1rem;
  background: var(--background-cl);
  margin-top: .3rem;
  width: 100%;
  max-width: 80%;
  color: var(--muted-txt);
}




.nav-right #searchInput::placeholder{
  font-size: .8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-right img{
  width: 1.7rem;
  height: 1.5rem;
  cursor: pointer;
}

.nav-right a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  text-decoration: none;
  color: var(--main-txt);
  font-size: .8rem;
  transition: .3s ease;
}



.nav-right a img{
  width: 1.5rem;
  height: 1.3rem;
  margin-right: .8rem;
  margin-bottom: .4rem;
  animation: shake 4s infinite;
}

.cart-btn #cart-count{
margin-bottom: -.5rem;
margin-left: -.7rem;
font-size: 1rem;
color: rgb(163, 107, 107);
animation: shake 4s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20%{
    transform: translateY(2px);
  }
  40% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-right .menu-icon{
  align-items: center;
  display: flex;
  width: max-content;
  margin-right: -.8rem;
  position: relative;
  justify-items: end;
}

.menu-icon img{
  width: 1.8rem;
  height: 1.7rem;
  cursor: pointer;
}


/***
MAIN SHOP CONTAINER
****/

.page {
  max-width: 480px;
  margin: auto;
  margin-top: 4rem;
  padding: .5rem;
}

.page-header {
  margin-bottom: 20px;
  color: var(--main-txt);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header h1 {
  margin: 0;
  font-size: 1.6rem;
}

.page-header p {
  color: #666;
  margin-top: 5px;
}

.card {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.14);
  border: 1px solid rgb(211, 202, 202)
}

.row.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--muted-txt);
}

.input-group {
  margin-top: 12px;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Preview */
.preview-box {
  background: #f1f3f6;
  padding: 14px;
  border-radius: 8px;
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

/* Buttons */
.actions {
  display: flex;
  gap: 12px;
}

.btn {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.btn.primary {
  background: #25D366;
  color: #fff;
}

.btn.secondary {
  background: #e9ecef;
}

/* Toggle Switch */
.switch {
  position: relative;
  width: 46px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 24px;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background: #25D366;
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}














/* FOOTER */
.footer {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background: #faf9f9;
  color: #929496;
  text-align: center;
  padding: 12px 0;
}

.footer-content{
  display: flex;
  flex-direction: column;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  line-height: 1.2;
  border-top: 1px solid rgb(243, 237, 237);
}

